/*Main Layout*/
.layout {
    max-width: 500px;
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
    padding-bottom: 108px;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    background-color: #f5f5f5;
    font-family: 'Noto Sans', sans-serif;
    font-color: #212121;
    overflow-x: hidden;
}

.list_item {
    font-size: 18px;
    white-space: pre-line;
    word-wrap:break-word;
}

.selected {
    background-color: #e0e0e0;
}

.checkbox_label {
    width: 36px;
    height: 36px;
    margin-top: 10px;
}

.header_tr {
    height: 108px;
}

.list_title {
    font-size: 36px;
}

/*list*/
.shopping_list {
    width: 100%;
    table-layout: fixed
    padding-left: 16px;
    padding-right: 16px;
}

/*Fab*/
.fab.mdl-button {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 32px;
    margin-bottom: 32px;
    z-index: 900;
}
